<!DOCTYPE html>
<htmml>
    <head>
        <meta charset="utf-8">
        <title>Some websites</title>
    </head>
    <body>
        {{> header}}
        <p>Some text here.</p>
        {{> footer}}                  <!--'>' followed by partial name   -->
    </body>
</htmml>