<!DOCTYPE html>
<htmml>
    <head>
        <meta charset="utf-8">
        <title>Some websites</title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt welcomeMessage}}</p>       <!-- helper followed by argument    -->
         {{> footer}}                  <!--'>' followed by partial name   -->
    </body>
</htmml>